In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('./arroz_chaufa.csv', delimiter='\t')
df.head()

                                 Item  Count    Unit
0                      chicken breast    2.0    cups
1                                 egg    5.0     NaN
2  white rice cooked in chicken broth    2.5    cups
3                              onions    0.5    cups
4                              garlic    2.0  cloves